.tictacContainer {
  width: 60%;
  height: 100vh;
  border-right: 2px solid black;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  font-family: Roboto-Regular;
}

.box {
  display: flex;
}

.row {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  font-size: 50px;
  text-align: center;
}

.row:hover {
  background: yellow;
}

.activeX {
  background: #ff3838;
}

.activeY {
  background: #3b3b6b;
}
